# Django Production Environment Variables
SECRET_KEY=your-production-django-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com

# Database Connection (Supabase PostgreSQL or Render PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=postgresql://postgres:VarunBhoi%402711@db.uciwpoxpcurenwjzpbjc.supabase.co:5432/postgres

# Supabase Auth / Table configuration
SUPABASE_URL=https://uciwpoxpcurenwjzpbjc.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Hf78gLDO9kXgVpr6RX02xg_oQsFnrmb
